{{!-- {{#if myself}}

{{ else }}


{{/if}} --}}
<section class="modal-profile">
    <div class="profile-content">
        {{{ button_close }}}
        <div class="profile-content__user">
            <div class="profile-content__avatar">
                <img src="https://api.dicebear.com/5.x/shapes/svg?seed=Snickers" alt="avatar">
            </div>
            <div class="profile-content__item" name="first_name">
                <p class="profile-content__label">Имя</p>
                <p class="profile-content__info">Василий</з>
            </div>
            <div class="profile-content__item" name="second_name">
                <p class="profile-content__label">Фамилия</p>
                <p class="profile-content__info">Васин</p>
            </div>
            <div class="profile-content__item" name="display_name">
                <p class="profile-content__label">Ник</p>
                <p class="profile-content__info">Василиск</p>
            </div>
            <div class="profile-content__item" name="login">
                <p class="profile-content__label">Логин</p>
                <p class="profile-content__info">Vasily</p>
            </div>
            <div class="profile-content__item" name="email">
                <p class="profile-content__label">Email</p>
                <p class="profile-content__info">vasin@yandex.ru</p> 
            </div>
            <div class="profile-content__item" name="phone">
                <p class="profile-content__label">Телефон</p>
                <p class="profile-content__info">+7 999 999 99 99</p>
            </div>
        </div>
        <div class="profile-content__footer">
            {{{ button_redact }}}
            {{{ button_logout }}}
        </div>
    </div>
</section>
