<header>Лого</header>
<div class="navigation">
    <a onclick="goToPage('login')">Login</a>
    <a onclick="goToPage('registration')">Register</a>
    <a onclick="goToPage('home')">Home</a>
    <a onclick="goToPage('404')">404</a>
    <a onclick="goToPage('500')">500</a>
</div>
<container>
    <div class="edit-page">
        <h3>Изменение данных польхователя
        </h3>
        <div>
            <div class="form_page__form-input">
                <span>Имя</span>
                <input type="first_name" name="first_name">
            </div>
                    <div class="form_page__form-input">
                <span>Фамилия</span>
                <input type="second_name" name="second_name">
            </div>
                    <div class="form_page__form-input">
                <span>Имя в чате</span>
                <input type="display_name" name="display_name">
            </div>
                    <div class="form_page__form-input">
                <span>Логин</span>
                <input type="login" name="login">
            </div>
            <div class="form_page__form-input">
                <span>Email</span>
                <input type="email" name="email">
            </div>
            <div class="form_page__form-input">
                <span>Телефон</span>
                <input type="phone" name="phone">
            </div>
            <div class="form_page__form-input">
                <span>Старый пароль</span>
                <input type="phone" name="phone">
            </div>
            <div class="form_page__form-input">
                <span>Новый пароль</span>
                <input type="phone" name="phone">
            </div>
            <div class="form_page__form-input">
                <span>Установить новую аватарку</span>
                <input type="file" name="avatar">
            </div>
        </div>
    </div>
</container>
