@import './variables.scss';
@import '../pages/loginPage/loginPage.scss';
@import '../pages/home/homePage.scss';
@import '../pages/error/errorPage.scss';
// @import '../pages/edit/editPage.scss';
@import '../pages/editProfile/editPage.scss';

*{
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: $background;
    color: $headline;
}
#app{
    height: 100%;
    // width: 100%;
    display: grid;
    grid-template-rows: 100px 20px 10fr;
    // gap: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 42px;
    text-transform: uppercase;
    padding: 14px 60px;
    color: $headline;
    font-weight: 600;
    & .avatar {
        background-color: $button;
        color: $background;
        padding: 10px;
        border-radius: 50%;
        transition: $transition;
        &:hover{
            background-color: darken($button, 10);
            box-shadow: $shadow;
        }
    }
    & .input {
        padding: 20px;
        width: 400px;
        font-size: 16px;
        text-align: left;
        border: 1px solid $button;
        border-radius: 30px;
        padding-left: 20px;
        transition: $transition;
        color: $headline;
        &:focus, &:hover{
            outline: none;
            box-shadow: $shadow
        }
    }
}
container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;

}
// Временное меню
.navigation {
    display: flex;
    padding: 0 40px;
    gap: 20px;
    a{
        background-color: $button;
        padding: 1px 10px;
        border-radius: 30px;
        color: $background;
        &:hover{
            background-color: darken($button, 10);
            box-shadow: $shadow;
            transform: scale(1.1);
        }
    }
}