$background: #fffffe;
$headline: #094067;
$paragraph: #5e6b7a;
$button: #3da9fc;
$button-text: #fffffe;
$secondary: #90b4ce;
$tertiary: #ef4565;


$transition: .2s;
$shadow: -1px 1px 10px 2px lighten($button, 35),
1px -1px 10px 2px lighten($button, 22);