<div class="chat-item">
    <img src="https://api.dicebear.com/5.x/shapes/svg?seed=Snickers" alt="avatar">
    <div class="chat-item__content">
        {{ name }}
    </div>
        {{ time }}

        {{#if unreaded}}
            <span class="chat-item__unreaded">{{ unreaded }}</span
        {{/if}}
</div>
