<header>Лого</header>
<nav class="navigation">
    <a onclick="goToPage('login')">Login</a>
    <a onclick="goToPage('home')">Home</a>
    <a onclick="goToPage('edit')">Edit</a>
    <a onclick="goToPage('404')">404</a>
    <a onclick="goToPage('505')">500</a>
</nav>
<container>
    <main class="form_page">
        <form action="submit" class="form_page__form">
            <h2>Регистрация</h2>
            <div class="form_page__form-input">
                <span>Имя</span>
                <input type="first_name" name="first_name">
            </div>
            <div class="form_page__form-input">
                <span>Фамилия</span>
                <input type="second_name" name="second_name">
            </div>
            <div class="form_page__form-input">
                <span>Логин</span>
                <input type="login" name="login">
            </div>
            <div class="form_page__form-input">
                <span>Email</span>
                <input type="email" name="email">
            </div>
            <div class="form_page__form-input">
                <span>Пароль</span>
                <input type="password" name="password">
            </div>
            <div class="form_page__form-input">
                <span>Телефон</span>
                <input type="phone" name="phone">
            </div>
            <button class="button form_page__form-button">Создать аккаунт</button>
        </form>
        <div class="form_page__sub">
            <div class="form_page__sub-text">
                <h2>Уже есть аккаунт?</h2>
                <p>Тогда чего же мы ждем!</p>
            </div>
            <button onclick="goToPage('login')" class="button form_page__sub-button">
                Войти
            </button>
        </div>
    </main>
</container>
