<header>Лого</header>
<div class="navigation">
    <a onclick="goToPage('login')">Login</a>
    <a onclick="goToPage('registration')">Register</a>
    <a onclick="goToPage('home')">Home</a>
    <a onclick="goToPage('edit')">Edit</a>
    <a onclick="goToPage('500')">500</a>
</div>
<container>
    <div class="error_page">
        <h3>Error 404</h3>
        <p>Page not found...</p>
    </div>
</container>
