<header>Лого</header>
<nav class="navigation">
    <a onclick="goToPage('login')">Login</a>
    <a onclick="goToPage('registration')">Register</a>
    <a onclick="goToPage('home')">Home</a>
    <a onclick="goToPage('edit')">Edit</a>
    <a onclick="goToPage('404')">404</a>
</nav>
<container>
    <main class="error_page">
        <h3>Error 500</h3>
        <p>Server error...</p>
    </main>
</container>
